@{
    Layout = "BaseLayout";
}


<body >
    

    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="detail-box">
                        <h2>
                            Courses
                        </h2>
                        <p>
                            At our driving school, we offer a comprehensive range of courses designed to meet the needs of all learners, from beginners to experienced drivers seeking to refine their skills. Our beginner course provides new drivers with the essential knowledge and practical experience needed to build a strong foundation in safe and confident driving. For those with some driving experience, our intermediate course focuses on advanced techniques, road awareness, and maneuvering in various traffic conditions. We also offer defensive driving courses that teach strategies to anticipate and respond to potential hazards on the road, ensuring a higher level of safety for all drivers.
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="img-box">
                        <img src="~/images/c8.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-around;">

        <div style="width: 30%; margin: 10px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); overflow: hidden; text-align: center;">
            <img src="~/images/c1.jpg" alt="Image 1" style="width: 100%; height: auto;">
            <h2 style="font-size: 1.5em; margin: 10px 0;">
                CLASS 1 LICENSE COURSE
            </h2>
            <p style="font-size: 1em; margin: 10px;">CLASS 1 License permits its holder to drive truck and trailer, where the trailer is required to be equipped with air brakes.</p>
        </div>
        <div style="width: 30%; margin: 10px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); overflow: hidden; text-align: center;">
            <img src="~/images/c1.jpg" alt="Image 2" style="width: 100%; height: auto;">
            <h2 style="font-size: 1.5em; margin: 10px 0;">CLASS 3 LICENSE COURSE</h2>
            <p style="font-size: 1em; margin: 10px;">CLASS 3 License can drive a single engine vehicle with at least three axles, an accessible engine vehicle with at least three axles towing a trailer with at least one axle where the trailer isn’t furnished with air powered brakes..</p>
        </div>
        <div style="width: 30%; margin: 10px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); overflow: hidden; text-align: center;">
            <img src="~/images/c2.jpg" alt="Image 3" style="width: 100%; height: auto;">
            <h2 style="font-size: 1.5em; margin: 10px 0;">CLASS 4 LICENSE COURSE</h2>
            <p style="font-size: 1em; margin: 20px;">CLASS 4 License holders are eligible to drive Taxis, ambulance, or a bus with a seating limit of not more than 24, not including the administrator..</p>
        </div>
        <div style="width: 30%; margin: 20px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); overflow: hidden; text-align: center;">
            <img src="~/images/c3.jpg" alt="Image 4" style="width: 100%; height: auto;">
            <h2 style="font-size: 1.5em; margin: 10px 0;">CLASS 5 LICENSE</h2>
            <p style="font-size: 1em; margin: 10px;">Description for image 4.</p>
        </div>
        <div style="width: 30%; margin: 10px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); overflow: hidden; text-align: center;">
            <img src="~/images/c4.jpg" alt="Image 5" style="width: 100%; height: auto;">
            <h2 style="font-size: 1.5em; margin: 10px 0;">CLASS 7 LICENSE</h2>
            <p style="font-size: 1em; margin: 10px;">Are you thinking of simply learning how to drive, then you may want to begin with a Class 7 license..</p>
        </div>
        <div style="width: 30%; margin: 10px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); overflow: hidden; text-align: center;">
            <img src="~/images/c5.jpg" alt="Image 6" style="width: 100%; height: auto;">
            <h2 style="font-size: 1.5em; margin: 10px 0;">AIR BRAKES COURSE</h2>
            <p style="font-size: 1em; margin: 10px;">The Insurance Corporation of British Columbia (ICBC) states that a compulsory 16-hour Air Brake Course needs to taken from an endorsed Driver Training office.</p>
        </div>
        <div style="width: 30%; margin: 10px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); overflow: hidden; text-align: center;">
            <img src="~/images/c6.jpg" alt="Image 7" style="width: 100%; height: auto;">
            <h2 style="font-size: 1.5em; margin: 10px 0;">Individual Lessons</h2>
            <p style="font-size: 1em; margin: 10px;">Orient Driving School offers individual lessons for drivers to upgrade their skills. These individual lessons are offered on a one-on-one basis with our government-certified instructors for Class 1 and 3 drivers to refresh or add to their list of truck driving skills.</p>
        </div>
        <div style="width: 30%; margin: 10px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); overflow: hidden; text-align: center;">
            <img src="~/images/c7.jpg" alt="Image 8" style="width: 100%; height: auto;">
            <h2 style="font-size: 1.5em; margin: 10px 0;">Corporate Training</h2>
            <p style="font-size: 1em; margin: 10px;">Your drivers are a powerful reflection of your company. Fleet and company drivers are representatives of your brand and their actions can generate both praise and criticism while interacting with other road users. Effective corporate and fleet driver training can improve driving behaviours.</p>
        </div>

    </section>

    <br />
    <br />
    <br />

    <!-- end about section -->  
    <!-- info section -->
    <section class="info_section ">
        <div class="container">
            <h4>
                Get In Touch
            </h4>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="info_items">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="">
                                    <div class="item ">
                                        <div class="img-box ">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                        <p>
                                            Lorem Ipsum is simply dummy text
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <div class="item ">
                                        <div class="img-box ">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </div>
                                        <p>
                                            +02 1234567890
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <div class="item ">
                                        <div class="img-box">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                        <p>
                                            demo@gmail.com
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-box">
            <h4>
                Follow Us
            </h4>
            <div class="box">
                <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </section>

    




</body>
